# Archivos compilados de Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Carpetas de compilación y salida
/bin/
/target/
/out/
/build/
/.gradle/
/.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Archivos de configuración de IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath

# Archivos de sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Archivos de logs
*.log